#scoreContainerTop {
  position: absolute; /* スコアを絶対位置で配置 */
  top: 10px; /* 上からの距離 */
  left: 50%; /* 左から50%の位置 */
  transform: translateX(-50%); /* 中央揃えのために左に50%ずらす */
  z-index: 10; /* 他の要素の上に表示 */
  background: rgba(255, 255, 255, 0.9); /* 背景色 */
  padding: 5px 10px; /* 内側の余白 */
  border-radius: 5px; /* 角の丸み */
}

#gameCanvas {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: block;
  margin: auto;
}

#scoreContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
}

#gameOverContainer {
  color: whitesmoke;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

